body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
small.faded {
  color: #d1d1d1;
  font-size: 14px;
}
