body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF
.container
  width auto
  max-width 680px
  padding 0 15px

small.faded
  color #D1D1D1
  font-size 14px
